[Desktop Entry]
Name=QSARModelingPy
Version=0.1.0-alpha
Exec=qsarmodelingpy
Terminal=false
Type=Application
Encoding=UTF-8
Comment=Build and validate QSAR models.
# Icon=qsarmodeling.png
